<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Bulma Practice</title>
    <link
    rel="icon"
    href="../static/favico.ico"
    type="image/x-icon"
  />


    <!-- Bulma CSS link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
 
  </head>
  <body>

    <section class="hero is-large is-info">
        <div class="hero-body">
          <div class="container">
            <p class="title">The Secret Page</p>
            <p class="subtitle">You need to be logged in to see this</p>
            <p class="subtitle">{{ user_info.profile_name}}</p>
          </div>
        </div>
      </section>

    
   
  </body>
</html>